<ng-container *ngIf="showMessage()">
  <div class="message-row" [ngClass]="{ 'own': message()?.sender_id === currentUserId() }">
    <!-- Avatar, name and other visual elements would go here -->
    <app-long-press-context-menu
      [messageId]="message()?.id ?? ''"
      [messageContent]="message()?.text_content ?? ''"
      [messageType]="message()?.message_type ?? ''"
      [senderId]="message()?.sender_id ?? ''"
      [roomId]="message()?.room_id ?? ''"
      (copy)="onCopy($event)"
      (favourite)="onFavourite($event)"
      (report)="onReport($event)"
      (block)="onBlockUnblock($event)"
    >
      <div class="message-bubble">
        {{ message()?.text_content }}
      </div>
    </app-long-press-context-menu>
  </div>
</ng-container>
